# NestorMSX configuration file

# For all the "File" settings and for "FilesystemBaseLocation":
# - Non-absolute paths are relative to the folder of NestorMSX.exe
# - Special folders can be specified as $name$, for example $MyDocuments$.
#   For a list of available special folder names see:
#   http://msdn.microsoft.com/en-us/library/system.environment.specialfolder


# The file containing the MSX BIOS ROM.

BiosFile = SpanishMsx1Bios.rom
#BiosFile = JapaneseMsx1Bios.rom


# The colors palette file.
# It's a text file with 16 rows, one per color.
# Each row has the R, G and B components separated by spaces, as 0-255 numbers.

ColorsFile = Colors.txt


# Z80 clock frequency in MHz. This is not very accurate.
# Valid values are 0.001 to 100,
# or 0 to run the emulation at the maximum possible speed.

CpuSpeedInMHz = 0


# Zoom level for the displayed screen.
# The appropriate value depends on your screen resolution,
# but a value of 2 or 3 should be normally good.

DisplayZoomLevel = 2


# The location of the files when using the special DiskROM.
# This can be overriden by using absolute paths
# when specifying the file name inside the emulator itself.

FilesystemBaseLocation = $MyDocuments$\NestorMSX\FileSystem


# Horizontal size in pixels of the screen backdrop (non drawable area).
# This will be applied twice, on the left and on the right
# of the drawable area.

HorizontalMarginInPixels = 8


# Vertical size in pixels of the screen backdrop (non drawable area).
# This will be applied twice, on the top and on the bottom
# of the drawable area.

VerticalMarginInPixels = 16


# The key map file to use.
# This file is just a copy of the MSX keyboard matrix
# (see http://konamiman.com/msx/msx2th/th-5a.txt, section 3.1)
# with each MSX key position substituted for a host key name
# (or for a group of host key names separated by commas),
# a dot instead of a host key name will leave that key unmapped.
# For a complete list of the host key names see:
# http://msdn.microsoft.com/en-us/library/system.windows.forms.keys
# HINT: Run "NestorMSX keytest" to get a clue of key names in your system.

KeymapFile = KeyMappings.txt


# Multiplier for the VDP frequency,
# the actual frequency at which interrupts are generated
# will be 50Hz multiplied by this value.
# For some reason values under 1.2 seem to
# considerably slow down emulation.

VdpFrequencyMultiplier = 1.2


# The file containing the special DiskROM.
# This ROM will be inserted in slot 1;
# to disable it just remove this configuration key.

DiskRomFile = diskrom.rom


# A ROM file to be inserted in slot 2 (in page 1, max size 48K).
# This key is optional, just leave it commented to have slot 2 empty.

#Slot2RomFile = SomeRomFile.rom


# Key for copying the screen contents to the clipboard,
# legal values are the same as for KeymapFile.

CopyKey = F11


# Key for inserting the text contents of the clipboard in the keyboard buffer,
# legal values are the same as for KeymapFile.

PasteKey = F12
